*{
	font-family: sans-serif;
}

h1, h2, h3{
	color: white;
}

h1{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}

h2{
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translate(-50%,-50%);
}

h3{
	position: absolute;
	top: 29%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.maurya{
	position: absolute;
	top: 45%;
	left: 20%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	text-decoration: none;
	color: green;
	padding: 10px 30px;
	list-style-type: none;
}

.gupta{
	position: absolute;
	top: 45%;
	left: 80%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	text-decoration: none;
	color: green;
	padding: 10px 30px;
	list-style-type: none;
}

button{
	color: green;
	background-color: black;
	border: 2px solid white;
	border-radius: 7px;
}

button:hover{
	color: black;
	background-color: lightpink;
	transition: 1s ease;
	cursor: pointer;
}

.back{
	position: absolute;
	top: 8%;
	left: 90%;
	transform: translate(-50%,-50%);
	font-size: 14px;
	text-decoration: none;
}

.clock{
	position: absolute;
	top: 90%;
	left: 80%;
	color: #fff;
}

.creator{
	position: absolute;
	top: 09%;
	left: 09%;
	transform: translate(-50%,-50%);
	border: 2px solid white;
	border-radius: 10px;
	background-color: black;
	color: palegreen;
	padding: 10px 20px;
	font-size: 18px;
}

.creator:hover{
	color: black;
	background-color: palegreen;
	transition: 0.8s ease;
	cursor: pointer;
}